.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border: 1px solid black;
}

.logo {
  height: 80px;
}

.nav-items > ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-items > ul > li {
  padding: 16px;
  font-size: 24px;
  cursor: pointer;
}

.login {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
}

.filter {
  display: flex;
  gap: 32px;
  align-items: center;
  height: 100px;
}

.search {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 0 16px;
}

.search-input {
  width: 480px;
  padding: 8px 16px;
}

.top-rated-btn {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 16px;
  color: beige;
  background-color: brown;
  border: none;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.restaurant-card {
  width: 210px;
  padding: 8px;
  margin: 5px;
  border-radius: 16px;
  background-color: azure;
}

.restaurant-card:hover {
  border: 1px solid lightgray;
  cursor: pointer;
}

.restaurant-logo {
  width: 100%;
  border-radius: 16px;
}

.shimmer-container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 210px;
  height: 400px;
  background-color: rgb(238, 238, 238);
  margin: 60px 5px;
  padding: 8px;
  border-radius: 16px;
}
