.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border: 1px solid black;
}

.logo {
  height: 80px;
}

.nav-items > ul {
  display: flex;
  list-style: none;
}

.nav-items > ul > li {
  padding: 16px;
  font-size: 24px;
  cursor: pointer;
}

.top-rated-btn {
  padding: 10px;
  margin-top: 10px;
  width: 25%;
  cursor: pointer;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.restaurant-card {
  width: 200px;
  padding: 8px;
  margin: 5px;
  border-radius: 16px;
  background-color: azure;
}

.restaurant-card:hover {
  border: 1px solid lightgray;
  cursor: pointer;
}

.restaurant-logo {
  width: 100%;
  border-radius: 16px;
}
